@using Microsoft.AspNetCore.Identity
@model Assignment1.Models.Obituary
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Obituary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfDeath" class="control-label"></label>
                <input asp-for="DateOfDeath" class="form-control" />
                <span asp-validation-for="DateOfDeath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Biography" class="control-label"></label>
                <input asp-for="Biography" class="form-control" />
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrimaryPhotoBase64" class="control-label"></label>
                <input asp-for="PrimaryPhotoBase64" class="form-control" />
                <span asp-validation-for="PrimaryPhotoBase64" class="text-danger"></span>
            </div>

            @if (SignInManager.IsSignedIn(User)){
            <div class="form-group">
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <input asp-for="CreatedByUserId" class="form-control" value="@UserManager.GetUserId(User)" readonly/>
                <span asp-validation-for="CreatedByUserId" class="text-danger"></span>
            </div>


            }
            
            <div class="form-group">
                <label asp-for="CreatedAtUtc" class="control-label"></label>
                <input asp-for="CreatedAtUtc" class="form-control" />
                <span asp-validation-for="CreatedAtUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
